<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>You landed to the not found page, <a href="/">Click here</a> to go back to the home page</p>
    </div>

    {{>footer}}
</body>

</html>